<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Agregar</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form class="glass-content">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombre" [(ngModel)]="newBarberia.nombre" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" name="txDireccion" [(ngModel)]="newBarberia.direccion" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Horario</ion-label>
      <ion-input type="text" name="txHorario" [(ngModel)]="newBarberia.horario" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="crearBarberia()" expand="block" color="success" size="small">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>