<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BARBERIAS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombre" [(ngModel)]="newBarberia.nombre" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" direccion="txDireccion" [(ngModel)]="newBarberia.direccion" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Horario</ion-label>
      <ion-input type="text" horario="txHorario" [(ngModel)]="newBarberia.horario" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="crearBarberia()" expand="block" color="success" size="small">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>