<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de Barbero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Repite Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="repetirContrasena"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <div class="boton">
    <ion-button expand="block" fill="outline" size="small" (click)="registrarBarbero()">Crear Cuenta</ion-button>
    <ion-button expand="block" fill="outline" size="small" [routerLink]="['/home']">Salir</ion-button>
  </div>

  <div>
    <ion-button expand="block" fill="outline" size="small" slot="start" [routerLink]="['/home']">
      <ion-icon name="logo-google"></ion-icon>
      Registrar con Google
    </ion-button>
  </div>

  <div>
    <ion-button expand="block" fill="outline" size="small" slot="start" [routerLink]="['/home']">
      <ion-icon name="logo-facebook"></ion-icon>
      Registrar con Facebook
    </ion-button>
  </div>

  <div class="ion-text-center">
    ¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a>
  </div>
</ion-content>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Barbero</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
