<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="glass-content">
        <ion-list class="glass-content" id="inbox-list">
          <ion-list-header>Menu</ion-list-header>

          <!-- Elemento para ir a la página principal -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/home']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="home-outline"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Elemento para ir a la página de perfil -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/perfil']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="person-outline"></ion-icon>
              <ion-label>Perfil</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Elemento para cerrar sesión -->
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="cerrarSesion()" lines="none" detail="false">
              <ion-icon aria-hidden="true" slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Cerrar Sesión</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Elemento para ver las horas -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/mis-horas']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="time-outline"></ion-icon>
              <ion-label>Ver mis horas</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
