<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail_barberia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>ID #{{ barberia.id }}</ion-card-subtitle>
      <ion-card-title>{{ barberia.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>{{ barberia.direccion }}</strong>
      <strong>{{ barberia.horario }}</strong>
    </ion-card-content>
  
    <ion-button [routerLink]="['/update-barberia',barberia.id]" color="warning"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button [routerLink]="['/delet-barberia',barberia.id]"color="danger"><ion-icon name="trash"></ion-icon></ion-button>
  
  </ion-card>

</ion-content>
