<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail_barberia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{ barberia.id }}</ion-card-subtitle>
      <ion-card-title>{{ barberia.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>{{ barberia.direccion }}</strong>
      <strong>{{ barberia.horario }}</strong>
    </ion-card-content>
  </ion-card>
</ion-content>
