<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>💈 {{barberia.nombre}} 💈</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content>
      <strong>{{ barberia.direccion }}</strong>
      <strong>{{ barberia.horario }}</strong>
      <ion-chip color="primary">hora</ion-chip>
    </ion-card-content>
  
  
  </ion-card>

</ion-content>